<footer>
	<div class="container">
		<a href="https://ocstore.com/?utm_source=ocstore3" target="_blank">{{ text_project }}</a>|<a href="https://docs.ocstore.com/?utm_source=ocstore3" target="_blank">{{ text_documentation }}</a>|<a href="https://opencartforum.com/?utm_source=ocstore3" target="_blank">{{ text_support }}</a>
		<br />
    </div>
</footer>
</body>
</html>
